@{
    Layout = "_Layout";
}
<style>
    .header {
        padding-bottom: 0px;
    }

    .fixed-bg {
        background-image: url("/images/_img.jpg");
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 590px;
        z-index: -1;
        background-size: 100%;
        background-position: top;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    .HeaderText {
        position: absolute;
        width: 100%;
        max-width: 400px;
        top: 40%;
        color: white;
        padding: 32px;
        /* background: gray; */
    }

    .overlayColor {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        background: rgba(134, 93, 93, 0.62);
        opacity: .4;
    }
</style>
<div class="container" style="max-width:100%;padding:0px;">
    <div class="header">
        <div class="banner fixed-bg">
            <div class="overlayColor"></div>
            @*<img src="~/images/img.jpg" />*@
            <div class="HeaderText">
                <h1 class="">تطبيقات الجوال</h1>
                <p class="">تطبيقات ذكية معدة خصيصا لزيادة الانتاجية, تحسين خدمة العملاء, و تطوير أداء الأعمال.</p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row section" data-aos="fade-up" data-aos-duration="2000">
        
        <div class="col-md-6">
            <img src="~/images/mock2.jpg" style='width:100%' />
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-1">
                    <span class="sectionNumber">01</span>
                </div>
                <div class="col-md-11">
                    <span class="sectionTitle">البركة سر النجاح</span>
                    <p>
                        مع اعتماد الاستراتيجية الجديدة في شركة علم، بدأ نمونا ينتقل من مرحلة يغلب عليها النمو الكمي للأعمال، إلى نمو نوعي يتأسس في
                        بيئة العمل نفسها، ونرى ذلك جليّا من خلال النقلات الكبيرة التي حققتها الشركة في قطاع تحسين الإجراءات
                        الحكومية والإسناد، وقامت بتشغيلها بطابع القطاع الخاص، وانتقلت من مفهوم (المراجع) إلى مفهوم (العميل).
                        نقدم في وحدة الإسناد الحكومي خدماتنا في مجالات عدّة نيابة عن العميل، ضمن أعلى المعايير والضوابط
                        التي وضعتها عِلم للقيام بأي عمل مهما كان مجاله، وذلك في خمسة مجالات
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row section" data-aos="fade-left" data-aos-duration="2000">
        <div class="col-md-6">
            <div class="col-md-1">
                <span class="sectionNumber">02</span>
            </div>
            <div class="col-md-11">
                <span class="sectionTitle">البركة سر النجاح</span>
                <p>
                    مع اعتماد الاستراتيجية الجديدة في شركة علم، بدأ نمونا ينتقل من مرحلة يغلب عليها النمو الكمي للأعمال، إلى نمو نوعي يتأسس في
                    بيئة العمل نفسها، ونرى ذلك جليّا من خلال النقلات الكبيرة التي حققتها الشركة في قطاع تحسين الإجراءات
                    الحكومية والإسناد، وقامت بتشغيلها بطابع القطاع الخاص، وانتقلت من مفهوم (المراجع) إلى مفهوم (العميل).
                    نقدم في وحدة الإسناد الحكومي خدماتنا في مجالات عدّة نيابة عن العميل، ضمن أعلى المعايير والضوابط التي
                    وضعتها عِلم للقيام بأي عمل مهما كان مجاله، وذلك في خمسة مجالات
                </p>
            </div>
        </div>
        <div class="col-md-6">
            <img src="~/images/mock1.jpg" style='width:100%' />
        </div>
    </div>
    <div class="row section" data-aos="fade-right" data-aos-duration="2000">
        <div class="col-md-6">
            <img src="~/images/mock4.jpg" style='width:100%' />
        </div>
        <div class="col-md-6">
            <div class="col-md-1">
                <span class="sectionNumber">03</span>
            </div>
            <div class="col-md-11">
                <span class="sectionTitle">البركة سر النجاح</span>
                <p>
                    مع اعتماد الاستراتيجية الجديدة في شركة علم، بدأ نمونا ينتقل من مرحلة يغلب عليها النمو الكمي للأعمال، إلى نمو نوعي يتأسس في
                    بيئة العمل نفسها، ونرى ذلك جليّا من خلال النقلات الكبيرة التي حققتها الشركة في قطاع تحسين الإجراءات
                    الحكومية والإسناد، وقامت بتشغيلها بطابع القطاع الخاص، وانتقلت من مفهوم (المراجع) إلى مفهوم (العميل).
                    نقدم في وحدة الإسناد الحكومي خدماتنا في مجالات عدّة نيابة عن العميل، ضمن أعلى المعايير والضوابط التي
                    وضعتها عِلم للقيام بأي عمل مهما كان مجاله، وذلك في خمسة مجالات
                </p>
            </div>
        </div>
    </div>
</div>