<div class="container" style="max-width:100%;padding:0px;">
    <div class="footer">
        <div class="row">
            <div class="col-md-2"></div>
            <span class="title col-md-5">تواصل معنا</span>
            <div class="address col-md-5">
                <span> المقر الرئيسي</span>
                <p>
                    60 الشارع الرئيسي, الملز - الرياض المملكة العربية السعودية
                </p>
            </div>
        </div>
        <div class="row footerMenu">
            <div class="col-md-3">
                <span>title</span>
                <ul>
                    <li>
                        <a href="#"> menuItem</a>
                    </li>
                    <li>
                        <a href="#"> menuItem</a>
                    </li>
                    <li>
                        <a href="#"> menuItem</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3">
                <span>title</span>
                <ul>
                    <li>
                        <a href="#"> menuItem</a>
                    </li>
                    <li>
                        <a href="#"> menuItem</a>
                    </li>
                    <li>
                        <a href="#"> menuItem</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3">
                <span>title</span>
                <ul>
                    <li>
                        <a href="#"> menuItem</a>
                    </li>
                    <li>
                        <a href="#"> menuItem</a>
                    </li>
                    <li>
                        <a href="#"> menuItem</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3">
                <span>title</span>
                <ul>
                    <li>
                        <a href="#"> menuItem</a>
                    </li>
                    <li>
                        <a href="#"> menuItem</a>
                    </li>
                    <li>
                        <a href="#"> menuItem</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="postFooter">
            <div class="postFooterTerms">
                <p>
                    © Copyright 2018 Zer0ne  - جميع الحقوق محفوظة
                </p>
            </div>

        </div>
    </div>
</div>