<div class="menuOverlay hide">
    <div class="container">
        <div class="row menuPanel">
            <div class="col-md-3 menu_rightPanel">
                <ul>
                    <li>
                        <a href="/index" id="mnuHompege">الرئيسية</a>
                    </li>
                    <li>
                        <a href="/website-development" id="mnuAbout">حلول المواقع الالكترونية</a>
                    </li>
                    <li>
                        <a href="/Mobile_App_Development" id="mnuService">حلول تطبيقات الجوال</a>
                    </li>
                    <li>
                        <a href="/startup_systems" id="mnuExperience">الأنظمة المتكاملة للشركات الناشئة</a>
                    </li>
                    <li>
                        <a href="/technologies" id="mnuCareers">التقنيات المستخدمة</a>
                    </li>
                    <li>
                        <a href="/why_Zer0ne" id="mnuContact">لماذا زيرو ون؟</a>
                    </li>
                    <li>
                        <a href="/FAQ" id="mnuContact">الأسئلة العامة</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-9 menu_leftPanel">
                <div id="pnlAbout" class="hide menuPanel"></div>
                <div id="pnlService" class="hide menuPanel">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="mnuContentBlock">
                                <img src="~/images/web-code.png" />
                                <a>نقوم بأفضل الخدمات ان شاء الله و بعون الله </a>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mnuContentBlock">
                                <img src="~/images/web-code.png" />
                                <a>نقوم بأفضل الخدمات ان شاء الله و بعون الله </a>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mnuContentBlock">
                                <img src="~/images/web-code.png" />
                                <a>نقوم بأفضل الخدمات ان شاء الله و بعون الله </a>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mnuContentBlock">
                                <img src="~/images/web-code.png" />
                                <a>نقوم بأفضل الخدمات ان شاء الله و بعون الله </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="pnlExperience" class="hide"></div>
                <div id="pnlCareers" class="hide"></div>
                <div id="pnlContact" class="hide"></div>
            </div>
        </div>
    </div>
</div>