<div class="topBar hide">
    <img class="logo" src="~/images/logo.png" />
    <p class="slogan">لتطوير البرمجيات و خدمات التقنية</p>
    <div class="menuButton">
        <img src="~/images/burger_menu.png" />
    </div>
</div>